<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Popular Songs Lyrics</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <h1>
        <strong><center>Popular Songs Lyrics Chart</center></strong>
    </h1>
    <div id="pie"></div>

    <script>
        Plotly.d3.json("/pie", function (error, data) {
            if (error) return console.warn(error);

            var layout = { margin: { t: 0 } }
            var LINE = document.getElementById("pie");
            Plotly.plot(LINE, data)
        })
    </script>
</body>

</html>